/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://use.typekit.net/xua8wlh.css");
@tailwind base;
@tailwind components;
@tailwind utilities; */

/* @font-face {
  font-family: "Futura PT";
  src: url("https://use.typekit.net/xua8wlh.css");
} */

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/* .bgblue {
  background-color: #092241;
} */

/* .bgwh {
  background-color: #ffffff;
} */

/* .fsans-300 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
} */

/* .fsans-400 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
} */

/* .fsans-500 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
} */

/* .fsans-600 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
} */

/* .fsans-700 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
} */

/* .flato-300 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
} */

/* .flato-400 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
} */

/* .flato-500 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
} */

/* .flato-600 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
} */

/* .flato-700 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
} */

/* .flato-800 {
  font-family: "Lato", sans-serif;
  font-weight: 800;
} */

/* .fpt-300 {
  font-family: "Futura PT", sans-serif;
  font-weight: 300;
} */

/* .fpt-400 {
  font-family: "Futura PT", sans-serif;
  font-weight: 400;
} */

/* .fpt-500 {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
} */

/* .fpt-600 {
  font-family: "Futura PT", sans-serif;
  font-weight: 600;
} */

/* .fpt-700 {
  font-family: "Futura PT", sans-serif;
  font-weight: 700;
} */

/* .fpt-800 {
  font-family: "Futura PT", sans-serif;
  font-weight: 800;
} */

/* .countersec {
  transition: background-color 300ms ease-in-out !important;
} */

/* .kshmn {
  max-width: 100vw !important;
  width: 941px !important;
  position: relative;
  z-index: 20 !important;
} */

/* .rightsh {
  position: absolute;
  width: 630px !important;
  height: 496px !important;
  max-width: 60vw;
  max-height: fit-content;
} */

/* .gradinetText {
  background-image: linear-gradient(to bottom, #ffffff, #163e71);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
} */

/* .fix12 {
  max-width: 1250px !important;
  margin-left: auto;
  margin-right: auto;
} */

/* .xyz {
  margin-right: calc((100vw - 1250px) / 2);
  max-width: 90%;
  width: fit-content;
} */

/* .tabs {
  scrollbar-width: none;
  -ms-overflow-style: none;
} */

/* .tabs::-webkit-scrollbar {
  display: none;
} */

/* .rigthSectionOfCarrer {
  display: none;
} */

/* .firstswbtns {
  position: absolute;
  left: calc((100vw - 1250px) / 2);
  max-width: 90%;
  width: fit-content;
} */

/* Responsive Styles */

/* h1,
h2:not(.kshabtitle):not(.tbhead),
h3:not(.spotlightheaddd),
h4,
h5,
h6:not(.linehead-text) {
  font-family: futura-pt, sans-serif !important;
  font-weight: 600;
} */

/* .hotspot-container {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .hotspot-map {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.5s ease-in-out;
} */

/* .map-image {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
} */


/* ////////////////////////////////// */


@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://use.typekit.net/xua8wlh.css");
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Futura PT";
  src: url("https://use.typekit.net/xua8wlh.css");
}

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
}

.bgblue {
  background-color: #092241;
}

.bgwh {
  background-color: #ffffff;
}

.fsans-300 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.fsans-400 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.fsans-500 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.fsans-600 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.fsans-700 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.flato-300 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.flato-400 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.flato-500 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

.flato-600 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.flato-700 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.flato-800 {
  font-family: "Lato", sans-serif;
  font-weight: 800;
}

.fpt-300 {
  font-family: "Futura PT", sans-serif;
  font-weight: 300;
}

.fpt-300 {
  font-family: "Futura PT", sans-serif;
  font-weight: 300;
}

.fpt-400 {
  font-family: "Futura PT", sans-serif;
  font-weight: 400;
}

.fpt-500 {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
}

.fpt-600 {
  font-family: "Futura PT", sans-serif;
  font-weight: 600;
}

.fpt-700 {
  font-family: "Futura PT", sans-serif;
  font-weight: 700;
}

.fpt-800 {
  font-family: "Futura PT", sans-serif;
  font-weight: 800;
}

/* //////////////// */

/*  */

.animate-slideUp {
  animation: slideUp 1s ease-out forwards;
  /* Duration and easing */
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    /* Start from bottom */
    opacity: 0;
    /* Make it invisible initially */
  }

  50% {
    opacity: 1;
    /* Make it visible */
  }

  100% {
    transform: translateY(0);
    /* Move it to its original position */
  }
}


/* Sustainabiliyt */
.CertificationsRigthImgBg {
  background-image: url('../../public/parkOverview/certificateRigth.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bgSusDown {

  background-image: url('../../public/Sustainability//SustainabilitySec3Bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* .xyz {
/* background-position: center; */
/* } */

/*  */
.countersec {
  transition: background-color 300ms ease-in-out !important;
}

@media (max-width: 767px) {

  #slidercontpp,
  #slidercontpp2 {
    margin-right: 5% !important;
    /* margin: 0 !important; */
  }

  .countersec {
    max-height: 150px !important;
    min-height: 150px !important;
  }
}

.kshmn {
  max-width: 100vw !important;
  width: 941px !important;
  position: relative;
  z-index: 20 !important;
}

.rightsh {
  position: absolute;
  width: 630px !important;
  height: 496px !important;
  /* left: 100px; */
  max-width: 60vw;
  max-height: fit-content;
}

/* .tablinehead,
.tablinehead * {
  transform-origin: left;
} */
.gradinetText {
  background-image: linear-gradient(to bottom, #FFFFFF, #163E71);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* @media (min-width: 1440px) {
  .bodylayout {
  }
} */
.fix12 {
  width: 1250px !important;
  margin-left: auto;
  margin-right: auto;
}

.xyz {
  /* position: absolute; */
  margin-right: calc((100vw - 1250px) / 2);
  /* Aligns with fix12 */
  max-width: 90%;
  width: fit-content;
}

.tabs {
  scrollbar-width: none;
  /* Hide scrollbar for Firefox */
  -ms-overflow-style: none;
  /* Hide scrollbar for IE & Edge */
}

.tabs::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari, and Opera */
}

/* Carres sec Home page */
.rigthSectionOfCarrer {
  display: none;
}

.firstswbtns {
  position: absolute;
  left: calc((100vw - 1250px) / 2);
  /* Aligns with fix12 */
  max-width: 90%;
  width: fit-content;
}

@media (max-width: 1365px) {
  .fix12 {
    width: 90% !important;
    margin: auto !important;
  }

  .firstswbtns {
    left: calc((100vw - 90vw) / 2);
    /* Adjusts dynamically on smaller screens */
  }

  .xyz {
    margin-right: calc((100vw - 90vw) / 2);
    /* Adjusts dynamically on smaller screens */
  }
}

@media (max-width: 768px) {
  .firstswbtns {
    left: 5%;
    /* Prevents misalignment on mobile */
  }

  .xyz {
    margin-right: 5%;
    /* Prevents misalignment on mobile */
  }
}

@media (min-width: 769px) {
  .rigthSectionOfCarrer {
    display: block !important;
  }
}

@media (max-width: 769px) {
  .maxTab {
    width: 90%;
    margin: auto;
  }
}

/* --- 24 */
h1,
h2:not(.kshabtitle):not(.tbhead):not(.aboutpioneer):not(.linehead-text),
h3:not(.spotlightheaddd),
h4,
h5,
h6 {
  font-family: futura-pt, sans-serif !important;
  font-weight: 600;
}

.hotspot-container {
  width: 100%;
  height: 900px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotspot-map {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.map-image {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
}

.hotspot {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 0.5s;
}

.hotspot:hover {
  background-color: #f7e327;
  width: 70px;
  height: 70px;
  transform: translate(-50%, -50%);
}

.hotspot.active {
  background-color: #f7e327;
  width: 55px;
  height: 55px;
  transform: translate(-50%, -50%);
}

.hotspot_inn {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hotspot_inn::before {
  transition: all 0.5s;
  /* width: 80px;
  height: 80px; */
  content: "";
  position: absolute;
  opacity: 0;
  top: -13px;
  left: -13px;
}

.hotspot_inn::after {
  content: "";
  position: absolute;
  transition: all 0.4s;
  width: 0px;
  opacity: 0;
  height: 0px;
  background-color: #d7d7d766;
}

.hotspot.active .hotspot_inn::before {
  /* width: 80px;
  height: 80px; */
  opacity: 1;
  border: 1px solid #d7d7d766;
  border-radius: 50%;
  top: -13px;
  left: -13px;
}

.hotspot.active .hotspot_inn::after {
  width: 250px;
  right: -234px;
  height: 1px;
  transition: opacity 2s ease-in-out;
  opacity: 1;
}

span.park_no {
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans";
  display: flex;
  font-family: Open Sans;
  justify-content: center;
  align-items: center;
}

.hotspot.active span.park_no {
  font-size: 7px;
  line-height: 7px;
  width: 17px;
  height: 17px;
}

span.park_name {
  position: absolute;
  z-index: -1;
  bottom: 17px;
  opacity: 0;
  font-size: 0px;
  font-weight: 400;
  transition: all 0.5s;
  text-transform: uppercase;
}

.hotspot:hover span.park_name {
  opacity: 1;
  font-size: 11px;
  bottom: 5px !important;
}

.hotspot.active span.park_name {
  opacity: 1;
  font-size: 7px;
  bottom: 7px !important;
}

.hotspot_col_two {
  /* width: 700px;
    height: auto;*/
  position: absolute;
  /* background: aqua; */
  top: auto;
  left: 44%;
  bottom: 24%;
}

.swiper-button-disabled {
  opacity: 0.5;
}



@media only screen and (min-device-width: 1270px) and (max-device-width: 1280px) {
  .hotspot_col_two {
    left: 42%;
    bottom: 15%;
  }

  .hotspot.active .hotspot_inn:after {
    width: 150px;
    right: -133px;
  }
}

@media only screen and (min-device-width: 1281px) and (max-device-width: 1366px) {
  .hotspot_col_two {
    left: 41%;
    bottom: 15%;
  }

  .hotspot.active .hotspot_inn:after {
    width: 150px;
    right: -133px;
  }
}

@media only screen and (min-device-width: 1370px) and (max-device-width: 1440px) {
  .hotspot_col_two {
    left: 41%;
    bottom: 16%;
  }

  .hotspot.active .hotspot_inn:after {
    width: 150px;
    right: -133px;
  }
}

@media only screen and (min-device-width: 1450px) and (max-device-width: 1536px) {
  .hotspot_col_two {
    left: 45%;
    bottom: 17%;
  }
}

@media only screen and (min-device-width: 1540px) and (max-device-width: 1600px) {
  .hotspot_col_two {
    left: 45%;
    bottom: 19%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .hotspot {
    width: 25px;
    height: 25px;
  }

  span.park_no {
    width: 18px;
    height: 18px;
    font-size: 11px;
  }

  .hotspot.active {
    background-color: #f7e327;
    width: 45px;
    height: 45px;
  }
}

/* Hide default scrollbar but keep scrolling functional */
.customsw {
  transition-timing-function: cubic-bezier(0.7, 0, 0.4, 1) !important;
}

/* @media (max-width: 1023px) {
  .customsw {
    width: 100%;
  }
} */

.navbtn:not(:first-child) {
  border-left: rgba(215, 215, 215, 0.34) 1px solid;
  padding-left: 64px !important;
  /* Default */
}

@media (max-width: 1367px) {
  .navbtn:not(:first-child) {
    padding-left: 56px !important;
  }
}

@media (max-width: 1280px) {
  .navbtn:not(:first-child) {
    padding-left: 44px !important;
  }
}

@media (max-width: 1024) {
  .navbtn {
    padding-right: 44px !important;
  }
}

.timelinecar::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 50%;
  width: 1px;
  height: 100px;
  background-color: #ff0000;
  transform: translateY(-50%);
}

.timelinecar {
  transition: all 0.5s ease-in-out;
}

.tabsmenupar {
  scrollbar-width: none;
  overflow-x: auto;

  * {
    white-space: nowrap;
  }

  -ms-overflow-style: none;
}

.tabsmenupar::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1025px) and (min-width: 1023px) {
  .navbtn:not(:first-child) {
    padding-left: 36px !important;
  }
}